<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AutentificationFilter</filter-name>
        <filter-class>CMS.AutentificationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AutentificationFilter</filter-name>
        <url-pattern>/CMS/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>frontend.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>products</servlet-name>
        <servlet-class>frontend.ProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>frontend.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginDispatcher</servlet-name>
        <servlet-class>frontend.loginDispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CMSHomeServlet</servlet-name>
        <servlet-class>CMS.CMSHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoffServlet</servlet-name>
        <servlet-class>CMS.LogoffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CMSProduct</servlet-name>
        <servlet-class>CMS.CMSProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveupdate</servlet-name>
        <servlet-class>CMS.saveupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CMSdeleteProduct</servlet-name>
        <servlet-class>CMS.CMSdeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CMSHomeCarousel</servlet-name>
        <servlet-class>CMS.CMSHomeCarousel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarouselSaveUpdate</servlet-name>
        <servlet-class>CMS.CarouselSaveUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeArticleEditServlet</servlet-name>
        <servlet-class>CMS.HomeArticleEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>products</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginDispatcher</servlet-name>
        <url-pattern>/loginDispatcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CMSHomeServlet</servlet-name>
        <url-pattern>/CMS/CMSHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoffServlet</servlet-name>
        <url-pattern>/CMS/Logoff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CMSProduct</servlet-name>
        <url-pattern>/CMS/CMSProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveupdate</servlet-name>
        <url-pattern>/CMS/saveupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CMSdeleteProduct</servlet-name>
        <url-pattern>/CMS/CMSDeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CMSHomeCarousel</servlet-name>
        <url-pattern>/CMS/CMSHomeCarousel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarouselSaveUpdate</servlet-name>
        <url-pattern>/CMS/CarouselSaveUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeArticleEditServlet</servlet-name>
        <url-pattern>/CMS/CMSHomeContent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HomePage</welcome-file>
    </welcome-file-list>
</web-app>
